tickTime=2000
dataDir={{ zookeeper_data_dir }}
clientPort=2181
initLimit=5
syncLimit=2

admin.enableServer=false

{% for host in groups['zookeeper'] %}
server.{{ hostvars[host].zookeeper_myid }}={{ hostvars[host].zookeeper_address | default(hostvars[host].ansible_default_ipv4.address) }}:2888:3888
{% endfor %}